/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/
.bordercolorandstyle {
    border: 1px solid blue;
}
@media only screen and (max-width: 575.98px) {
    .veryverysmall {
        border: 2px solid blue;
        display: block;
        /*margin-top:22%;*/
        margin-left: auto;
        margin-right: auto;
        padding: 30px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .verysmall {
        border: 2px solid blue;
        display: block;
        /*margin-top:22%;*/
        margin-left: auto;
        margin-right: auto;
        padding: 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .justmedium {
        border: 2px solid blue;
        display: block;
        margin-top: 22%;
        margin-left: auto;
        margin-right: auto;
        padding: 30px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    .verylarge {
        border: 2px solid blue;
        display: block;
        margin-top: 22%;
        margin-left: auto;
        margin-right: auto;
        padding: 30px;
    }
}

@media only screen and (min-width: 1200px) {
    .veryextralarge {
        border: 2px solid blue;
        display: block;
        margin-top: 22%;
        margin-left: auto;
        margin-right: auto;
        padding: 30px;
    }
}